
body {
  background-color: black;
  text-align: center;
}

#all-content {
  display: inline-block;
}

#board {
  position: relative;
  border: 1px solid white;
  width: 400px;
  height: 400px;
  background-color:#e66666;
}

#score, #paused {
  color: white;
}

#paused {
  display: none;
}

#ball, .paddle {
  position: absolute;
  user-select: none;
}

#ball {
  width: 20px;
  height: 20px;
  background-color: white;
  border-radius: 20px;
}

.paddle {
  width: 20px;
  height: 80px;
}

#paddle-left {
  background-color: green;
}

#paddle-right {
  background-color: blue;
}